@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand: #1f6f43;
  --color-brand-dark: #124b2b;

  --color-gray-800: #111827;
  --color-gray-700: #374151;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-300: #d1d5db;
  --color-gray-200: #e5e7eb;
  --color-gray-100: #f8f9fa;

  --color-success: #19ad70;
  --color-danger: #ef4444;

  --color-blue: #2563eb;
  --color-blue-dark: #1d4ed8;
  --color-blue-light: #dbeafe;
  --color-purple: #9333ea;
  --color-purple-dark: #7e22ce;
  --color-purple-light: #f3e8ff;
  --color-pink: #db2777;
  --color-pink-dark: #be185d;
  --color-pink-light: #fce7f3;
  --color-red: #dc2626;
  --color-red-dark: #b91c1c;
  --color-red-light: #fee2e2;
  --color-orange: #ea580c;
  --color-orange-dark: #c2410c;
  --color-orange-light: #ffedd5;
  --color-yellow: #ca8a04;
  --color-yellow-dark: #a16207;
  --color-yellow-light: #f7f3ca;
  --color-green: #16a34a;
  --color-green-dark: #15803d;
  --color-green-light: #e0fae9;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--color-gray-100);
  color: var(--color-gray-800);
}
